* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;

}
.display-flex , .cate-item{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 26px;
}
header{
    height: auto;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    width: 1124px;
    margin: 50px auto 50px;
}

nav img {
    height: 40px;
    width: 159px;
}

.search-bar {
    height: 48px;
    width: 509px;
    background-color: #CCCCCC;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    border-radius: 30px;


}

.search-bar i {
    color: #6f6d6d;
}

.search-bar input {
    outline: none;
    border: none;
    background-color: #CCCCCC;
}

.nav-btn {
    width: 345px;

}

.nav-btn ul {
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-btn li {
    list-style: none;
}

.nav-btn li a {
    text-decoration: none;
    color: #6f6d6d;
}


/* banner - style  */

.banner{
    height: 455px;
    width: 1212px;
    background-color: #FEEAE9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px auto;
    border-radius: 20px;
    padding: 50px;
}
.banner-content{
    height: 319px;
    width: 560px;
}
.banner-title{
    font-size: 56px;
    font-weight: bold;

}
.banner-description{
    color: #6f6d6d;
}
.price{
    font-size: 41px;
    font-weight: 600;
    color: #FF136F;
}
.banner button{
    height: 52px;
    width: 168px;
    background-image: linear-gradient(to top,#FF136F,#f990bd);
    color: white;
    border: none;
    border-radius: 10px;
}
.banner-logo img{
    height: 378px;
    width: 402px;
}
.categories{
    height: 198px;
    width: 1128px;
    margin: 0 auto 50px;
}
.categories-title{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 50px;
}
.cate-item{
    height: 120px;
    width: 359px;
    font-size: 2rem;
    color: white;
    padding: 30px;
    border-radius: 20px;
}
.cate-item img{
    height: 90px;
    width: 90px;
}
#item1{
    background-image: linear-gradient(150deg , #FF9C35,#FFD019);
}
#item2{
    background-image: linear-gradient(to top,#ff0984,#ff2869ba);
}
#item3{
    background-image: linear-gradient(to top,#287aff,#428affc0);
}
main{
    background-color: #F4F4F4;
}
.shoes , .bag{
    padding-bottom: 50px;
}
.shoes-title, .bag-title{
    font-size: 36px;
    font-weight: 600;
}
.see-all{
    border: none;
    font-size: 20px;
    color: #FF9D00;
    background-color: transparent;
}
.shoes-cart,.bag-cart{
    flex-direction: column;
    gap: 10px;
    height: 532px;
    width: 360px;
    padding: 24px;
    background-color: white;

}
.shoes-content{
    width: 1140px;
    padding: 50px 0;
    margin: 0 auto;
    justify-content: space-between;
}
.shoes-cart,.bag-cart{
    border-radius: 15px;
}

.shoes-cart img{
    height: 200px;
    width: 336px;
}
.bag-cart img{
    height: 290px;
    width: 290px;
}

.cart-title{
    text-align: left;
    padding-right: 50px ;
}
.cart-des{
    text-align: center;
}
.cart-title,.price{
    font-size: 1.5rem;
}
.cart-btn{
    margin: 0 auto;
    height: 52px;
    width: 168px;
    padding: 14px 20px;
    background-color: black;
    color: white;
    border-radius: 10px;
    
}

footer{
    height: 455px;
    width: 1212px;
    margin: 100px auto;
    text-align: center;
    background-color: #f9b8d48d;
    border-radius: 20px;
    padding: 150px 0;
}
.input-section{
    display: flex;
    justify-content: center;
    align-items: center;

}
.footer-title{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
}
.footer-des{
    margin-bottom: 10px;
}
footer input{
    display: inline;
    height: 73px;
    width: calc(683px - 153px);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 20px;
    border: none;
}
footer input[placeholder]{
    font-size: 24px;
}
.send-btn{
    display: inline;
    height: 73px;
    width: 153px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: none;
    background-image: linear-gradient(to top,#FF136F,#FF589B);
    color: white;
    font-size: 24px;
    font-weight: 600;
}